@erkenningen:registry=http://hugo.site4u.nl:3012/
//hugo.site4u.nl:3012/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJkaGFydG9uZyJdLCJuYW1lIjoiZGhhcnRvbmciLCJncm91cHMiOlsiZGhhcnRvbmciLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCJkaGFydG9uZyIsImRoYXJ0b25nIiwiZGhhcnRvbmciXSwiaWF0IjoxNTY4OTYyNjM5LCJuYmYiOjE1Njg5NjI2NDAsImV4cCI6MTU3NDE0NjYzOX0.Nc_myq6AwXa3J3Lw_O3gWZezkGXFKe-DwhN-awnBJ5w