@erkenningen:registry=http://hugo.site4u.nl:3012/
//hugo.site4u.nl:3012/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJuZXRsaWZ5Il0sIm5hbWUiOiJuZXRsaWZ5IiwiZ3JvdXBzIjpbIm5ldGxpZnkiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCJuZXRsaWZ5Il0sImlhdCI6MTU2MTM2MDk2MSwibmJmIjoxNTYxMzYwOTYyLCJleHAiOjE1NjY1NDQ5NjF9.D-ykYYNK86pleo5MVt9qd6_1BGmNwR1A_cKxFTwVQZg