.block-container {
  display: flex;
  margin-bottom: 3rem;
  margin-top: 3rem;
  background: #eee;
  padding: 2rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .block-container {
    justify-content: center;
  }
}

.block {
  width: 170px;
  min-width: 170px;
  height: 120px;
  font-weight: bold;
  margin-right: 20px;
  margin-top: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.block > a {
  color: #000;
}

.green {
  background: #6abbb7;
}

.block > p {
  margin: auto;
}
.block > div {
  color: #000;
}
.block > div > div > a,
.block > div > div > a:visited {
  color: #000;
  text-decoration: underline;
}

.orange {
  background: #dd6b02;
}

.block > button,
.block > div > div > button {
  border: none;
  background: transparent;
  color: #000;
  margin-right: 0;
  padding: 0;
}
.block > div > div > button > span.p-button-text {
  padding: 0;
  text-decoration: underline;
}

.block > button > .p-button-text {
  line-height: normal;
  padding: 15px 10px;
}
